{% extends 'mainApp/wrapper.html' %}
{% block content %}

<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">


                    <div class="row">

                        {% for prod in products %}
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    {% load static %}
                                    {% with "img/product-img/"|add:prod.pic_name as prod_pic_name %}
                                    <img src="{% static prod_pic_name %}" alt="">
                                    {% endwith %}
                                    <!-- Hover Thumb -->
                                    <!--                                        <img class="hover-img" src="img/product-img/product-2.jpg" alt="">-->

                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    {% with "prod/"|add:prod.prod_id|stringformat:"i" as current_prod_url %}

                                    <span>{{ prod.prod_id|stringformat:"i" }}</span>
                                    <span>{{ current_prod_url }}</span>
                                    <a href="{{ current_prod_url }}">
                                        <h6>{{ prod.prod_name }}</h6>
                                    </a>
                                    {% endwith %}
                                    <span>{{ prod.prod_description }}</span>

                                    <p class="product-price">
<!--                                        <span class="old-price">$75.00</span>-->
                                        {{ prod.prod_price }} руб.</p>

                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


{% endblock %}
