<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Магазин оригинальных подарков Sweetkey</title>

    <!-- Favicon  -->
    {% load static %}
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% load static %}
    <script src="{% static 'js/promt.js' %}"></script>
</head>
<body>
<!-- ##### Header Area Start ##### -->
<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            {% load static %}
            <a class="nav-brand" href=""><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="https://aragossa-dev.site">Витрина</a>
                            <ul class="dropdown">
                                <li><a href="cat/flowers">Цветы</a></li>
                                <li><a href="cat/pastry">Выпечка</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

    </div>
</header>
{% load static %}
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
{% load static %}
<script src="{% static 'js/popper.min.js' %}"></script>
{% load static %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% load static %}
<script src="{% static 'js/plugins.js' %}"></script>
{% load static %}
<script src="{% static 'js/active.js' %}"></script>
<a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: none;"><i class="fa fa-angle-up"
                                                                                             aria-hidden="true"></i></a>

</body>
</html>
